@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.sidebar-collapsed {
  @apply bg-neutral-200 transition-all duration-300 min-h-screen w-16;
}

.sidebar-expanded {
  @apply bg-neutral-200 transition-all duration-300 min-h-screen w-72;
}

.toggle-button {
  @apply p-5 text-black text-2xl;
}

.menu-icon {
  @apply h-8 w-8 ml-8;
}
.user-icon {
  @apply h-12 w-12 rounded-full border flex-shrink-0;
}
.user-info {
  @apply flex flex-col sm:flex-row items-center pl-8 mb-6;
}
.user-info-text {
  @apply flex-auto text-left ml-5 text-sm;
}
.user-info-text p {
  @apply my-2;
}
.menu{
  @apply mt-8
}
.menu-link {
  @apply flex items-center space-x-4 p-4 hover:bg-gray-100;
}
.menu-link span {
  @apply text-gray-500 text-lg hover:text-purple-500;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
